html {
  --lumo-font-size: 1rem;
  --lumo-font-size-xxxl: 2.5rem;
  --lumo-font-size-xxl: 1.75rem;
  --lumo-font-size-xl: 1.375rem;
  --lumo-font-size-l: 1.125rem;
  --lumo-font-size-m: 1rem;
  --lumo-font-size-s: 0.875rem;
  --lumo-font-size-xs: 0.8125rem;
  --lumo-font-size-xxs: 0.75rem;
  --lumo-font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  --lumo-size-xl: 4rem;
  --lumo-size-l: 3rem;
  --lumo-size-m: 2.5rem;
  --lumo-size-s: 2rem;
  --lumo-size-xs: 1.75rem;
  --lumo-primary-text-color: rgb(0, 105, 151);
  --lumo-primary-color-50pct: rgba(0, 105, 151, 0.5);
  --lumo-primary-color-10pct: rgba(0, 105, 151, 0.1);
  --lumo-primary-color: #006997;
  --lumo-shade-90pct: hsla(214, 40%, 16%, 0.94);
  --lumo-header-text-color: #006997;
  --lumo-error-color: #FF4637;
  --lumo-success-color: #00B720;

  /* custom furms variables */
  --unity-font-weight: 500;

  --vaadin-text-field-default-width: 16em;

  --fido-top-margin: var(--lumo-space-m);
  --input-label-top-padding: var(--lumo-space-m);
  --border-radius: var(--lumo-border-radius-m);
  --contrast: var(--lumo-contrast-5pct);

  --base-margin: 1em;
  --small-margin: calc(0.5 * var(--base-margin));
  --medium-margin: calc(1.5 * var(--base-margin));
  --big-margin: calc(2 * var(--base-margin));

  --base-padding: 1em;
  --small-padding: calc(0.5 * var(--base-padding));
  --medium-padding: calc(1.5 * var(--base-padding));
  --big-padding: calc(2 * var(--base-padding));

  --auth-component-height: var(--lumo-size-m);
  --auth-component-margin: var(--lumo-space-xs);
  --auth-full-component-margin: calc(2 * var(--auth-component-margin));

  --base-gap: 1em;
  --small-gap: calc(0.5 * var(--base-gap));
  --medium-gap: calc(1.5 * var(--base-gap));
  --big-gap: calc(2 * var(--base-gap));

  --vaadin-text-field-medium: 20em;
  --vaadin-text-field-big: 40em;
  --icon-size: 1.2em;
  --vaadin-tab-hover-color: #025D6E;

  --medium-dialog-width: 45em;
  --big-dialog-width: 65em;
}

.ck.ck-editor__main>.ck-editor__editable {
    --ck-color-base-border: transparent;
    --ck-color-base-background: #E7EBEF;
    --ck-border-radius 0.4em;
}

.invalid>.ck-editor>.ck-editor__main>.ck-editor__editable {
    background-color: #FDE8E7 !important;
}

vaadin-ckeditor > div > .ck.ck-editor__top.ck-reset_all {
    position: unset !important;
}


h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: var(--unity-font-weight);
}

vaadin-button[theme="primary"] {
    background-color: #6BBFCE;
}

vaadin-button[theme="primary"]:hover {
    background-color: #3199AC;
}

vaadin-tab {
    font-size: var(--lumo-font-size-l);
    height: var(--lumo-size-l);
    font-weight: var(--unity-font-weight);
    color: white;
}

#breadcrumb {
    display: flex;
    align-items: center;
    white-space: pre;
}

#breadcrumb a, #breadcrumb span {
    color: var(--lumo-body-text-color);
}

vaadin-tab:hover {
    background-color: var(--vaadin-tab-hover-color);
}

vaadin-tab[selected] {
    background-color: #013842;
    color: white;
}

vaadin-context-menu-item {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: var(--small-padding);
    padding-left: var(--small-padding);
}

vaadin-notification-card > vaadin-icon {
    width: var(--lumo-icon-size-l);
    height: var(--lumo-icon-size-l);
}

vaadin-tab > a > vaadin-icon {
    color: white;
    min-width: var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
}

.minimization-container > vaadin-icon {
    color: white;
    min-width: var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
}

vaadin-text-area > div {
    font-family: var(--lumo-font-family);
}

vaadin-button[theme="primary"] > vaadin-icon {
    color: white;
}

vaadin-icon {
    color: #04859d;
    width: var(--lumo-icon-size-s);
    height: var(--lumo-icon-size-s);
}

vaadin-form-item {
    --vaadin-form-item-label-width: 11em;
}

.big-vaadin-form-item > vaadin-form-item {
    --vaadin-form-item-label-width: 21em;
}

vaadin-text-field > label {
    overflow: unset;
}

hr {
    margin-top: var(--base-padding);
    margin-bottom: var(--base-padding);
}

img {
    max-width: 20em;
    max-height: 20em;
    object-fit: cover;
}

#scroller {
    bottom: unset;
}

.disable-icon-color {
    color: #cfd4db;
}

.u-fido-layout {
    flex-direction: row;
    gap: 0;
}

.u-password-quality {
    background-color: #F5F5F5;
    border-radius: var(--border-radius);
}

#unity-navbar {
    height: var(--lumo-size-l);
    width: 100%;
    font-size: var(--lumo-font-size-m);
    font-family: var(--lumo-font-family);
    font-weight: var(--furms-font-weight);
    background: var(--lumo-contrast-5pct);
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.unity-view {
    padding-right: var(--base-padding);
    padding-left: var(--base-padding);
    font-family: var(--lumo-font-family);
    display: flex;
    flex-direction: column;
}

#unity-layout {
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

#unity-main-container {
    min-height: 80%;
    overflow: hidden;
    flex: auto;
    align-items: stretch;
    margin: 0;
    padding: 0;
    gap: unset;
}

#unity-left-content-container {
    background-color: #04859d;
    width: 26rem;
    height: 100%;
    overflow: auto;
    margin: 0;
    border-right: 1px solid var(--lumo-contrast-10pct);
}

#unity-right-content-container {
    width: 100%;
    overflow: auto;
    align-items: stretch;
    margin: 0;
    padding: 0;
    gap: unset;
}

#unity-logo-image {
    max-width: 100%;
    max-height: 5rem;
    margin-left: auto;
    margin-right: auto;
}

span[disabled] {
    color: var(--lumo-disabled-text-color);
}

.warning-icon {
    color: orange;
    width: var(--lumo-icon-size-l);
    height: var(--lumo-icon-size-l);
}

.details-icon {
    color: unset;
    cursor: pointer;
}

.usual-row {
    background-color: inherit;
}

.light-red-row {
    background-color: #ffe5e5;
}

span {
    white-space: break-spaces;
}

#badge-warning {
    color: #e67e00;
    background-color: #fff4e0;
}

.u-consent-screen {
    background-color: #F5F5F5;
    border-radius: var(--border-radius);
    width: 30em;
}

.u-consent-screen-checkbox {
    align-self: center;
    margin-right: 8.25em;
}

.u-consent-screen-buttons {
    align-self: center;
    margin-left: 18.9em;
}

.u-authnGrid > vaadin-grid-cell-content {
    padding: 0;
}

vaadin-combo-box.project-combo-box::part(input-field) {
    background-color: white;
}

vaadin-combo-box.project-combo-box::part(label) {
    align-self: center;
    color: white;
}

vaadin-checkbox-group.check-box-with-error::part(group-field) {
	display: inline-flex;
}

vaadin-tooltip-overlay[position=end-top]::part(overlay) {
    margin-top: var(--base-margin);
}

vaadin-tooltip-overlay::part(overlay) {
    font-size: var(--lumo-font-size-s);
}

vaadin-combo-box.disable-required-indicator::part(required-indicator)::after {
    display: none !important;
}

vaadin-accordion-heading::part(content) {
    width: 100%;
}

vaadin-form-item.valid::part(required-indicator)::after {
    color: var(--lumo-required-field-indicator-color, var(--lumo-primary-text-color)) !important;
}

vaadin-form-item.invalid::part(required-indicator)::after {
    color: var(--lumo-required-field-indicator-color, var(--lumo-error-text-color)) !important;
}

vaadin-form-item::part(content) {
    display: flex;
}

.multi-tab-details > vaadin-details-summary::part(toggle) {
    transform: rotate(90deg);
    margin-right: 0.8em;
    color: white !important;
}

.multi-tab-details-mini > vaadin-details-summary::part(toggle) {
    display: none !important;
}

.multi-tab-details > vaadin-details-summary[opened]::part(toggle) {
    transform: rotate(270deg);
    color: white !important;
}

vaadin-details.multi-tab-details::part(content) {
    margin-left: var(--base-margin);
    margin-top: -1em;
    margin-bottom: -1em;
}

.multi-tab-details > vaadin-details-summary:hover {
    background-color: var(--vaadin-tab-hover-color);
}

.multi-tab-details > vaadin-details-summary {
    padding: 0.6em 0;
    color: white;
    font-size: var(--lumo-font-size-l);
    font-weight: var(--unity-font-weight);
    border-radius: unset;
}

vaadin-details.multi-tab-details {
    margin: 0;
}

.multi-tab-details > vaadin-details-summary > span > vaadin-icon {
    color: white;
    min-width: var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
    margin-left: var(--base-margin);
    margin-right: var(--small-margin);
}

.action-menu {
	padding-right: 0;
	padding-left: 0;
}

.no-padding-top {
	padding-top: 0;
}

.small-icon {
	width: 1.25em;
	height: 1.25em;
}

.error-label {
    margin-left: calc(var(--lumo-border-radius-m) / 4);
    font-size: var(--lumo-font-size-xs);
    line-height: var(--lumo-line-height-xs);
    color: var(--lumo-error-text-color);
    will-change: max-height;
    transition: 0.4s max-height;
    max-height: 5em;
}

.input-label {
    align-self: flex-start;
    color: var(--lumo-secondary-text-color);
    font-weight: 500;
    font-size: var(--lumo-font-size-s);
    margin-left: calc(var(--lumo-border-radius-m) / 4);
    transition: color 0.2s;
    line-height: 1;
    padding-right: 1em;
    padding-bottom: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
}

.indicator::after {
    content: var(--lumo-required-field-indicator, '•');
    transition: opacity 0.2s;
    color: var(--lumo-required-field-indicator-color, var(--lumo-primary-text-color));
    position: absolute;
    right: 0;
    width: 1em;
    text-align: center;
}

.error-indicator::after {
    content: var(--lumo-required-field-indicator, '•');
    transition: opacity 0.2s;
    color: var(--lumo-required-field-indicator-color, var(--lumo-error-text-color));;
    position: absolute;
    right: 0;
    width: 1em;
    text-align: center;
}

.menu-button {
	color: var(--lumo-primary-text-color);
	cursor: pointer;
}

.menu-button vaadin-icon {
	margin-right: 1em;
}

.menu-button[disabled] {
	color: var(--lumo-disabled-text-color);
}

.multi-tab {
    background-color: unset !important;
    height: unset !important;
    padding: 0;
}

.required-label::after {
    content: '•';
    color: var(--lumo-required-field-indicator-color, var(--lumo-primary-text-color));
    text-align: center;
    width: 1em;
    position: absolute;
}

.invalid::after {
    color: var(--lumo-required-field-indicator-color, var(--lumo-error-text-color));
}

.monospace {
    font-family: Monospace;
}

.edit-view-action-buttons-layout {
    width: 13em;
}

.pointer {
    cursor: pointer;
}

.disabled-icon {
    opacity: 0.5;
}

.confirmation-status-icon {
    position: absolute;
    left: 102%;
}

.verify-button-icon {
    position: absolute;
    left: 110%;
}

.sticky-enquiry {
    height: 20em;
}

.tab-component-link {
    gap: var(--small-gap);
    justify-content: unset;
}

.small-gap {
    gap: var(--small-gap);
}

.empty-details-icon {
    margin-top: var(--big-margin);
}

.grid-details-width {
    width: 60em;
}

vcf-tooltip[theme="light"]::part(container) {
    font-size: var(--lumo-font-size-s);
    background: var(--lumo-base-color) linear-gradient(var(--lumo-contrast-5pct), var(--lumo-contrast-5pct));
    color: var(--lumo-body-text-color);
    border-radius: var(--lumo-border-radius-m);
    box-shadow: 0 0 0 1px var(--lumo-shade-5pct), var(--lumo-box-shadow-m);
}

.field-icon-gap {
    margin-left: var(--small-margin);
}