@import "configuration.scss";
	
@mixin flag-bg-template($flagpath) {
	background-image: $flagpath;
	background-repeat: no-repeat;
	background-position: 99% top;
	background-origin: content-box;
}

@mixin unityCommon {
	

  //Overriding the default layout		
	.v-caption-bold {
	  font-weight: bold;
	}
	.v-button-link {
		height: inherit;
	}
	
	.v-label-light {
    	font-size: small;
	}
	
  //Custom styles
	
	.u-messageBox {
		background-color:#EEEEEE;
		border-radius: 4px;
		box-shadow: 3px 3px 3px #999999;
		padding:5px;
	}
	
	.u-formSection {
		font-size: 13px;
		font-weight: bold;
		margin: 14px 0 4px 0;
	}
	
	.u-italic {
		font-style: italic;
	}
	
	.u-bold {
		font-weight: bold;
	}
	
	.u-gray {
		color: gray;
	}
	
	.u-error {
		color: red;
	}
	
	.u-success {
		color: $textSuccessColor;
	}
	
	.u-header {
		background: $headerBackgroundImage;
	}
	
	.u-textLarge {
		font-size: large;	
		line-height: 1.4;
	}
	
	.u-textXLarge {
		font-size: x-large;
		line-height: 2;
	}
	
	.u-textHeading {
		font-family: $font;
		letter-spacing: -1px;
		font-size: 32px;
		line-height: 1.1;
		font-weight: 300;
		color: #464646;
	}

	.u-textHeading2 {
		font-family: $font;
		letter-spacing: -1px;
		font-size: 26px;
		font-weight: 300;
		color: #464646;
	}
		
	.u-bigTab {
	}
	
	.u-toolbarButton:hover {
		box-shadow: 0px 1px 3px 0px $shadowColor;
	}
	
	.u-bigTab:hover {
	    background: $bigTabHoverBgImage;
	    box-shadow: 6px 6px 3px $shadowColor;
	}
	
	.u-bigTabSelected {
		background: $bigTabSelectedBgImage;
		color: black;
		box-shadow: 6px 6px 3px $shadowColor;
	}
	
	.u-textCenter {
		text-align: center;
	}
	
	.u-verticalLine {
		width: 0px;
		height: 16px;
		float: left; 
		border: 1px inset;
		color: gray;
		margin: 0px 8px;
	}
	
	.u-horizontalLine {
		width: 16px;
		height: 0px;
		float: left; 
		border: 1px inset;
		color: gray;
		margin: 8px 0px;
	}

	.u-selectedButton {
		box-shadow: 0px 0px 9px $shadowColor;
	}
	
	.u-horizontalMargins10 {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.u-verticalMargins10 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.u-horizontalMargins6 {
		margin-left: 6px;
		margin-right: 6px;
	}
	
	.u-verticalMargins6 {
		margin-top: 6px;
		margin-bottom: 6px;
	}
	
	.u-verticalPadding10.v-margin-top    {padding-top:    10px;}
	.u-verticalPadding10.v-margin-bottom {padding-bottom: 10px;}

	.u-horizontalPadding10.v-margin-top    {padding-left:  10px;}
	.u-horizontalPadding10.v-margin-bottom {padding-right: 10px;}

	.u-verticalPadding16.v-margin-top    {padding-top:    16px;}
	.u-verticalPadding16.v-margin-bottom {padding-bottom: 16px;}
	
	.u-minHeight300 {
		min-height: 300px;
	}
	
	.v-panel-content-u-padRight20 {
		padding-right: 20px;
	}
	
	.u-width100 .v-button-wrap .v-icon {
		width: 100px;
	}
	
	.u-height100 .v-button-wrap .v-icon {
		height: 100px;
	}
	
	.u-width50 .v-button-wrap .v-icon {
		width: 50px;
	}
	
	.u-height50 .v-button-wrap .v-icon {
		height: 50px;
	}

	.u-maxHeight200 .v-button-wrap .v-icon {
		max-height: 200px;
	}
	
	.u-maxHeight100 .v-button-wrap .v-icon {
		max-height: 100px;
	}
	
	.u-maxHeight50 .v-button-wrap .v-icon {
		max-height: 50px;
	}
	
	.u-smallMargin.v-margin-top {
		padding-top: 5px;
	}

	.u-negativeMargin5 {
		margin-bottom: -5px;
	}
	
	/* green background for translation profile test */
	.v-textfield-u-green-bg.v-readonly {
		background: $bgSuccessColor;
	}
	
	.v-filterselect-u-green-bg.v-readonly {
		background: $bgSuccessColor;
	}

	.v-ddwrapper-u-green-bg {
		.v-textfield {
			background: $bgSuccessColor;
		}
	}
	
	/* gray background for translation profile test */
	.v-textfield-u-gray-bg.v-readonly {
		background: $bgDisabledColor;
	}
	
	.v-filterselect-u-gray-bg.v-readonly {
		background: $bgDisabledColor;
	}
	
	.v-ddwrapper-u-gray-bg {
		.v-textfield {
			background: $bgDisabledColor;
		}
	}
	
	/* red background for translation profile test */
	.v-textfield-u-red-bg.v-readonly  {
		background: $bgErrorColor;
	}
	
	.v-filterselect-u-red-bg.v-readonly {
		background: $bgErrorColor;
	}
	
	.v-ddwrapper-u-red-bg {
		.v-textfield {
			background: $bgErrorColor;
		}
	}
	
	.u-smallSpacing {
		.v-spacing {
			height: 2px;
			width: 2px;
		}	
	}
	
	.u-hidden {
		visibility: hidden;
	}
	
	.u-flag-bg-en {
		@include flag-bg-template($flagImageEn);
	}

	.u-flag-bg-pl {
		@include flag-bg-template($flagImagePl);
	}

	.u-flag-bg-de {
		@include flag-bg-template($flagImageDe);
	}
}
