@import "configuration.scss";
	
@mixin flag-bg-template($flagpath) {
	background-image: $flagpath;
	background-repeat: no-repeat;
	background-position: 99% top;
	background-origin: content-box;
}

@mixin unityCommon {
	

    //Overriding the default layout
    		
	.v-caption-bold {
	  font-weight: bold;
	}
	
	.v-button-link {
		height: inherit;
	}
	
	.v-button-link:after {
		content: none;
	}

	.v-label-light {
    	font-size: small;
	}
	
	.v-button-link {
		padding: 0px 2px;
	}
	
	.v-disabled {
		color: $bgDisabledColor;
	}
	
   
    //Custom styles
	
	.u-visiblescroll {
		overflow: visible;
	}
	
	.v-tabsheet-tabs-u-bigTabsheet .v-caption {
		font-size: ceil($v-font-size * 1.1);
	}
	
	.u-messageBox {
		background-color:#EEEEEE;
		border-radius: 4px;
		box-shadow: 3px 3px 3px #999999;
		padding:5px;
	}
	
	.u-indent {
		margin-left: $v-layout-margin-left;
	}
	
	.u-formSection {
		font-size: 13px;
		font-weight: bold;
		margin: 14px 0 4px 0;
	}
	
	.u-emphasized {
		font-style: italic;
	}
	
	.u-bold {
		font-weight: bold;
	}
	
	.u-immutableAttribute {
		color: gray;
	}
	
	.u-readOnlyTableElement {
		color: gray;
	}	

	.u-error {
		color: red;
	}
	
	.u-success {
		color: $textSuccessColor;
	}
	
	.u-header {
		background: $headerBackgroundImage;
	}
	
	.u-textLarge {
		font-size: large;	
		line-height: 1.4;
	}
	
	.u-textXLarge {
		font-size: x-large;
		line-height: 2;
	}
	
	.u-textEndpointHeading {
		font-family: $font;
		letter-spacing: -1px;
		font-size: $v-font-size--huge;
		line-height: 1.1;
		font-weight: 300;
	}
	
	.u-textTitle {
		font-family: $font;
		letter-spacing: -1px;
		font-size: 2em;
		line-height: 1.2;
		margin-bottom: $v-unit-size;
	}

	.u-bigTab .v-icon {
		margin-top: -8px;
		margin-bottom: 8px;
	}

	.u-bigTabSelected .v-icon {
		margin-top: -8px;
		margin-bottom: 8px;
	}
	
	.u-toolbarButton:hover {
	}
	
	.u-bigTab:hover {
	    background: $bigTabHoverBgImage;
	    box-shadow: 6px 6px 3px $shadowColor;
	}
	
	.u-bigTabSelected {
		background: $bigTabSelectedBgImage;
		color: black;
		box-shadow: 6px 6px 3px $shadowColor;
	}
	
	.u-textCenter {
		text-align: center;
	}
	
	.u-verticalBar {
		width: 0px;
		height: 100%;
		border-left: 1px solid;
		color: #d4d4d4;
		margin: 0px 8px;
	}
	
	.u-horizontalBar {
		width: 100%;
		height: 0px;
		border-top: 1px solid;
		color: #d4d4d4;
		margin: 8px 0px;
	}

	.u-selectedButton {
		box-shadow: 0px 0px 9px $shadowColor;
	}
	
	.u-smallMargins {
		margin-left: round($v-unit-size/3);
		margin-right: round($v-unit-size/3);
		margin-top: round($v-unit-size/3);
		margin-bottom: round($v-unit-size/3);
	}
	
	.u-verticalPaddingSmall.v-margin-top    {padding-top:    round($v-unit-size/3);}
	.u-verticalPaddingSmall.v-margin-bottom {padding-bottom: round($v-unit-size/3);}

	.u-minHeightAuthenticator {
		min-height: 8 * $v-unit-size;
	}
	
	.u-imageWidthSmall .v-button-wrap .v-icon {
		width: $v-unit-size * 4;
	}
	
	.u-imageHeightSmall .v-button-wrap .v-icon {
		height: $v-unit-size * 4;
	}
	
	.u-imageWidthTiny .v-button-wrap .v-icon {
		width: $v-unit-size * 2;
	}
	
	.u-imageHeightTiny .v-button-wrap .v-icon {
		height:  $v-unit-size * 2;
	}

	.u-imageMaxHeightMedium .v-button-wrap .v-icon {
		max-height: $v-unit-size * 8;
	}
	
	.u-imageMaxHeightSmall .v-button-wrap .v-icon {
		max-height:  $v-unit-size * 4;
	}
	
	.u-imageMaxHeightTiny .v-button-wrap .v-icon {
		max-height: $v-unit-size * 2;
	}
	
	.u-maxWidthColumn {
		max-width: $v-unit-size * 24;
	}
	
	.u-smallMargin.v-margin-top {
		padding-top: round($v-layout-margin-top/3);
	}
	
	.u-smallMargin {
		padding-top: round($v-layout-margin-top/3);
	}
	
	.u-negativeBottomMarginSmall {
		margin-bottom: (-round($v-layout-margin-bottom/3));
	}

	.u-negativeTopMargin {
		margin-top: (-($v-layout-margin-top/3)*2);
	}

	.v-panel-content-u-centeredPanel > div {
		display: block;
		margin: auto;
	}
	
	/* green background for translation profile test */
	.v-textfield-u-trueCondition-bg.v-readonly {
		background: $bgSuccessColor;
	}
	
	.v-filterselect-u-trueCondition-bg.v-readonly {
		background: $bgSuccessColor;
	}
	
	.v-filterselect-item-inactive {
        font-style: italic;
    }

	.v-filterselect-item-inactive:hover{
    	 background: transparent;
    }

	.v-ddwrapper-u-trueCondition-bg {
		.v-textfield {
			background: $bgSuccessColor;
		}
	}
	
	/* gray background for translation profile test */
	.v-textfield-u-falseCondition-bg.v-readonly {
		background: $bgDisabledColor;
	}
	
	.v-filterselect-u-falseCondition-bg.v-readonly {
		background: $bgDisabledColor;
	}
	
	.v-ddwrapper-u-falseCondition-bg {
		.v-textfield {
			background: $bgDisabledColor;
		}
	}
	
	/* red background for translation profile test */
	.v-textfield-u-error-bg.v-readonly  {
		background: $bgErrorColor;
	}
	
	.v-filterselect-u-error-bg.v-readonly {
		background: $bgErrorColor;
	}
	
	.v-ddwrapper-u-error-bg {
		.v-textfield {
			background: $bgErrorColor;
		}
	}
	
	.u-smallSpacing {
		.v-spacing {
			height: $u-small-margin;
			width: $u-small-margin;
		}	
	}

	.u-smallFormSpacing > table > tbody > [class*="row"] > td {
	    padding-top: $u-small-margin;
	}

	.u-tinySpacing {
		.v-spacing {
			height: $u-tiny-margin;
			width: $u-tiny-margin;
		}	
	}

	.u-link {
		color : #197de1;
	}

	.u-hidden {
		visibility: hidden;
	}
	
	.u-floatRight {
		float: right;
	}

	.u-vAlignMiddle {
		vertical-align: middle;
	}
	
	.u-hMarginSmall {
		margin-left: $u-small-margin;
		margin-right: $u-small-margin;
	}	

	.u-rightMargin {
		margin-right: $v-layout-margin-right;
	}
	
	.u-leftMargin {
		margin-left: $v-layout-margin-right;
	}
	
	.u-leftMarginSmall {
		margin-left: $u-small-margin;
	}

	.u-bottomMargin {
		margin-bottom: $v-layout-margin-right;
	}
	
	.u-passwordQuality {
		background-color: #F5F5F5;
		width: $v-font-size * 30;
		-webkit-border-radius: 10px;
		-webkit-border-top-left-radius: 0;
		-moz-border-radius: 10px;
		-moz-border-radius-topleft: 0;
		border-radius: 10px;
		border-top-left-radius: 0;
		padding: 5px;
		overflow-y: visible;
		max-height: $v-font-size * 5;
	}
	
	.u-password-hint {
		background-color: #F5F5F5;
		width: $v-font-size * 30;
		-webkit-border-radius: 10px;
		-webkit-border-top-left-radius: 0;
		-moz-border-radius: 10px;
		-moz-border-radius-topleft: 0;
		border-radius: 10px;
		border-top-left-radius: 0;
		margin-left: -5px;
		padding-left: 5px;
		padding-bottom: 5px;
	}
	
	.u-passwordQuality-nonCompactTopMargin {
		margin-top: round($v-font-size + 1.5*$u-small-margin);
	}
	
	.v-progressbar.u-greenProgressBar .v-progressbar-indicator {
		background-color: #2c9020;
		background-image: -webkit-linear-gradient(top, #2f9822 2%, #26811b 98%);
		background-image: linear-gradient(to bottom,#2f9822 2%, #26811b 98%);
		border: 1px solid #227119;
	}
	
	.v-progressbar.u-redProgressBar .v-progressbar-indicator {
		background-color: #DC143C;
		background-image: -webkit-linear-gradient(top, #de1540 2%, #d01134 98%);
		background-image: linear-gradient(to bottom,#de1540 2%, #d01134 98%);
		border: 1px solid #ad0f2f;
	}
	
	.v-slot-u-redProgressBar .v-icon {
		color: $v-error-indicator-color;
	}
	
	.u-margin {
		margin-left: $v-layout-margin-left;
		margin-right: $v-layout-margin-right;
		margin-top: $v-layout-margin-top;
		margin-bottom: $v-layout-margin-bottom;
	}	
	
	.u-idptile .v-grid-row > td {
		border-left: none;
		border-bottom: none;
	}

	.u-idptile .v-grid-row > td:first-child {
		width: $u-small-margin * 2 + $u-idp-row-height * 2;
		text-align: center;
	}
	
	.u-idptile td > img {
		max-height: $u-idp-row-height - round($v-unit-size/18);
		max-width: $u-idp-row-height * 2;
	}
	
	.u-idptile .v-grid-tablewrapper {
    	border: none;
	}
	
	.u-flag-bg-en {
		@include flag-bg-template($flagImageEn);
	}

	.u-flag-bg-pl {
		@include flag-bg-template($flagImagePl);
	}

	.u-flag-bg-de {
		@include flag-bg-template($flagImageDe);
	}

	.u-flag-bg-nb {
		@include flag-bg-template($flagImageNo);
	}

	.v-menubar .v-menubar-submenu-indicator + .v-menubar-menuitem-caption::after {
		margin: 0 -3px 0 -3px;
		font-family: FontAwesome;
		content: "\f078";
		font-size: 0em;
		vertical-align: .15em;
	}

	.v-menubar-popup .v-menubar-menuitem .v-icon  {
		color: #197de1;
	}

	.u-error-icon .v-icon  {
		color: $v-error-indicator-color;
	}

	.v-caption-u-error-icon .v-icon  {
		color: $v-error-indicator-color;
	}
	
	.v-menubar-popup .v-menubar-menuitem-selected {
		background-image: -webkit-linear-gradient(top, #8ebef0 2%, #a5cbf3 98%);
		background-image: linear-gradient(to bottom,#8ebef0 2%, #a5cbf3 98%); 
		background-color: transparent;
	}

	.v-menubar-u-toolbarButton {
		height: auto;
		line-height: inherit;
	}

	.v-caption-u-emphasized {
		font-size: 150%;
	}

    .u-noGridHorizontalLines .v-grid-cell-focused:before {
        display: none !important;
    }
   
	.u-noGridHorizontalLines .v-grid-tablewrapper table tbody tr td {
		border-left: none;
		border-bottom: none;
		line-height: 29px;
		height: 30px;
	}

	.u-noGridHorizontalLines .v-grid-tablewrapper table tbody tr:last-child td {
		border-bottom: 1px solid #d4d4d4;
	}

	.u-denseTreeGrid td {
		line-height: 34px;
		height: 34px;
	}

	.u-denseTreeGrid .v-treegrid-tablewrapper .v-treegrid-cell-content {
    	padding-bottom: 6px;
	}
	
    .drop-layout .v-horizontallayout-drag-center {
 		background-color: #197de1;}
	


 	.v-assistive-device-only-label label {
		font-size:0;
		width: 0px; 
 	}

	.u-largeIcon .v-icon {
		font-size : 24px;
	}
	
	.u-veryLargeIcon .v-icon {
		font-size : 34px;
	}

	.u-signInButton {
		width: 100%;
	}

	.u-signInButton .v-button-wrap img {
		padding: 4px 0px 0px 2px;
		height: $v-unit-size - 8;
		vertical-align: top;
	}

	.u-signUpButton {
		width: 100%;
	}

	.u-authn-component {
	}

	.u-authn-columnsSeparator {
		min-width: $v-unit-size;		
	}

	.u-authn-logo {
		height: $v-unit-size * 2;
	}

	.u-authn-title {
		font-family: $font;
		letter-spacing: -1px;
		font-size: $v-font-size--huge;
		line-height: 1.1;
		font-weight: 300;
		padding-top: round($v-unit-size / 3);
		padding-bottom: $v-unit-size;
	}
	
	.u-authnOptionTextElement {
		height: $v-unit-size;
	}

	.u-verticalSpace1Unit {
		height: $v-unit-size;
	}

	.u-authnOptionTextCenteredElement .v-slot {
		height: 100%;
	}

	.u-authnGrid .v-grid-cell {
		padding: 0px 0px 0px 0px;
	}

	.u-authnGrid .v-grid-row > td {
		border-left: none;
		border-bottom: none;
	}

	.u-authnGrid .v-grid-row > td:first-child {
		text-align: center;
	}

	.u-authnGrid td > img {
		max-height: $v-unit-size - round($v-unit-size/18);
		max-width: 90%;
	}

	.u-externalSignInButton {
		background: #53A0C6;
		text-decoration: none;
		color: white;
		font-weight: bold;
		width: 100%;
		height: $v-unit-size;
		text-align: left;
	}

	.u-externalSignInButton:hover {
		background: #3486AE;
		color: white;
	}

	.u-externalGridSignInButton {
		@extend .u-externalSignInButton
	}

	.u-externalGridSignInButton:hover {
		@extend .u-externalSignInButton:hover
	}
	
	.u-outdatedcred-info {
		padding-top: round($v-unit-size / 3);
		padding-bottom: round($v-unit-size / 3);
	}
	
	.u-externalSignInButton .v-button-wrap img {
		padding: 4px 0px 0px 2px;
		height: $v-unit-size - 8;
		vertical-align: top;
	}
	
	.u-chip {
		margin-right: 6px;
		margin-top: 3px;
		margin-bottom: 3px;
	}
	
	.u-chip .v-label {
		background-color: #E0E0E0;
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		padding-left: 6px;
		padding-right: 6px;
		padding-top: 3px;
		height: $v-unit-size - 6;
	}
	
	.u-chip .v-button {
		background-color: #E0E0E0;
		margin-left: -6px;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		padding-right: 6px;
		padding-left: 6px;
		padding-top: 4px;
		height: $v-unit-size - 6;
	}
	
	.u-chipsCombo {
		margin-top: 3px;
	}
	
	.v-button-registrationLink {
		font-size: large;
	}
	
	.v-filterselect-suggestpopup-u-indentComboBox .v-filterselect-suggestmenu .gwt-MenuItem {
		white-space: pre;
	}

	.u-indentComboBox .v-filterselect-input {
		white-space: nowrap;
	}
	
	.v-label-wrap-line {
		word-wrap: break-word; /* IE  */
		white-space: pre-wrap;
	}

}
