//Redefinitions of the Valo defaults

$v-font-size: 15px;
$v-unit-size: round(2.3 * $v-font-size);

$v-layout-margin-left: 	round($v-unit-size/2);
$v-layout-margin-right: round($v-unit-size/2);
$v-layout-margin-top:  	round($v-unit-size/2);
$v-layout-margin-bottom: round($v-unit-size/2);
	
$v-default-field-width: $v-unit-size * 6;

$u-idp-row-height:		$v-unit-size;

$u-small-margin: 		round($v-unit-size/6);
$u-tiny-margin:			round($v-unit-size/18);

//Custom variables used in common.scss

$textSuccessColor: 		green;
$bgSuccessColor: 		LightGreen;
$bgDisabledColor: 		LightGray;
$bgErrorColor:  		LightCoral;
$shadowColor: 			#888;

$font: "Open Sans", sans-serif, Helvetica, Arial, "Lucida Grande", Geneva, Tahoma, Verdana;

$headerBackgroundImage: 	url(../common/img/top-bar-bg.jpg);
$bigTabHoverBgImage:		url(../common/img/bigTab-bg2-gray.jpg);
$bigTabSelectedBgImage:		url(../common/img/bigTab-bg2-blue.jpg);

$flagImageEn: 				url(../common/img/flag/en.png);
$flagImagePl: 				url(../common/img/flag/pl.png);
$flagImageDe: 				url(../common/img/flag/de.png);
$flagImageNo: 				url(../common/img/flag/no.png);

