$textSuccessColor: 		green;
$bgSuccessColor: 		LightGreen;
$bgDisabledColor: 		LightGray;
$bgErrorColor:  		LightCoral;
$shadowColor: 			#888;

$font: "Open Sans", sans-serif, Helvetica, Arial, "Lucida Grande", Geneva, Tahoma, Verdana;

$headerBackgroundImage: 	url(../common/img/top-bar-bg.jpg);
$bigTabHoverBgImage:		url(../common/img/bigTab-bg2-gray.jpg);
$bigTabSelectedBgImage:		url(../common/img/bigTab-bg2-blue.jpg);

$flagImageEn: 				url(../common/img/flag/en.png);
$flagImagePl: 				url(../common/img/flag/pl.png);
$flagImageDe: 				url(../common/img/flag/de.png);
