@import "../valo/valo.scss";
@import "../common/common.scss";

@mixin unityThemeValo {


	$v-font-size: 15px;
	$v-unit-size: round(2.3 * $v-font-size);
	



	$v-layout-margin-left: round($v-unit-size/2);
	$v-layout-margin-right: round($v-unit-size/2);
	$v-layout-margin-top:  round($v-unit-size/2);
	$v-layout-margin-bottom: round($v-unit-size/2);
	
	$v-default-field-width: $v-unit-size * 8;
	
	@include valo;
	
	@include unityCommon;
}
