:host(.project-combo-box) [part~="input-field"] {
	background-color: white;
}

:host(.project-combo-box) [part~="label"] {
    align-self: center;
    color: white;
}

:host(.project-combo-box:hover:not([readonly]):not([focused])) [part='label'] {
    color: white;
}

:host(.project-combo-box:is([focused]):not([readonly])) [part='label'] {
    color: white;
}

[name~="label"] {
    white-space: break-spaces;
}