@import "../reindeer/legacy-styles.css";

.v-select-optiongroup-authnSetSelect {
    font-family: Helvetica, Arial, "Lucida Grande", Geneva, Tahoma, Verdana, sans-serif;
	font-size: 18px;
	line-height: 35px;
	color: #44698b;
	letter-spacing: -0.01em;
}

.v-caption-authnSetSelect {
    font-family: Helvetica, Arial, "Lucida Grande", Geneva, Tahoma, Verdana, sans-serif;
	font-size: 22px;
	line-height: 38px;
	font-weight: bold;
	color: #44698b;
	letter-spacing: -0.02em;
	text-shadow: #fff 0 -1px 1px;
}

.u-error {
	color: red;
}

.u-header {
	background: url("../unityTheme/img/top-bar-bg.jpg");
}