@import "../reindeer/reindeer.scss";

@mixin unityTheme {

	/* Include all the styles from the reindeer theme */
	@include reindeer;
	
	$leadingDark : #44698b;
	$green : LightGreen;
	$gray : LightGray;
	$font : Helvetica, Arial, "Lucida Grande", Geneva, Tahoma, Verdana, sans-serif;
	$shadow : #888;
	$red :  LightCoral;
  
	.v-select-optiongroup-authnSetSelect {
	    font-family: $font;
		font-size: 18px;
		line-height: 35px;
		color: $leadingDark;
		letter-spacing: -0.01em;
	}
	
	.v-caption-authnSetSelect {
	    font-family: $font;
		font-size: 22px;
		line-height: 38px;
		font-weight: bold;
		color: $leadingDark;
		letter-spacing: -0.02em;
		text-shadow: #fff 0 -1px 1px;
	}
	
	.u-messageBox {
		background-color:#EEEEEE;
		border-radius: 4px;
		box-shadow: 3px 3px 3px #999999;
		padding:5px;
	}
	
	.u-formSection {
		font-size: 13px;
		font-weight: bold;
		margin: 14px 0 4px 0;
	}
	
	.u-italic {
		font-style: italic;
	}
	
	.u-bold {
		font-weight: bold;
	}
	
	.u-gray {
		color: gray;
	}
	
	.u-error {
		color: red;
	}
	
	.u-success {
		color: green;
	}
	
	.u-header {
		background: url("../unityTheme/img/top-bar-bg.jpg");
	}
	
	.u-textLarge {
		font-size: large;	
		line-height: 1.4;
	}
	
	.u-textXLarge {
		font-size: x-large;
		line-height: 2;
	}
	
	.u-bigTab {
	/*	
	    background: url("../unityTheme/img/bg-dark.jpg");
	    color: #cccccc;
	*/
		/*background-color: gray;*/
	}
	
	.u-toolbarButton:hover {
		box-shadow: 0px 1px 3px 0px $shadow;
	}
	
	.u-bigTab:hover {
	    background: url("../unityTheme/img/bigTab-bg2-gray.jpg");
	    box-shadow: 6px 6px 3px $shadow;
	}
	
	.u-bigTabSelected {
		background: url("../unityTheme/img/bigTab-bg2-blue.jpg");
		color: black;
		box-shadow: 6px 6px 3px $shadow;
	}
	
	.u-textCenter {
		text-align: center;
	}
	
	.u-verticalLine {
		width: 0px;
		height: 16px;
		float: left; 
		border: 1px inset;
		color: gray;
		margin: 0px 8px;
	}
	
	.u-horizontalLine {
		width: 16px;
		height: 0px;
		float: left; 
		border: 1px inset;
		color: gray;
		margin: 8px 0px;
	}
	
	.v-caption-bold {
	  font-weight: bold;
	}
	
	.u-selectedButton {
		box-shadow: 0px 0px 9px $shadow;
	}
	
	.u-horizontalMargins10 {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.u-verticalMargins10 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.u-horizontalMargins6 {
		margin-left: 6px;
		margin-right: 6px;
	}
	
	.u-verticalMargins6 {
		margin-top: 6px;
		margin-bottom: 6px;
	}
	
	.u-maxHeight300 {
		max-height: 300px;
	}
	
	.v-panel-content-u-padRight20 {
		padding-right: 20px;
	}
	
	.u-width100 .v-button-wrap .v-icon {
		width: 100px;
	}
	
	.u-height100 .v-button-wrap .v-icon {
		height: 100px;
	}
	
	.u-width50 .v-button-wrap .v-icon {
		width: 50px;
	}
	
	.u-height50 .v-button-wrap .v-icon {
		height: 50px;
	}
	
	.u-smallMargin.v-margin-top {
		padding-top: 5px;
	}
	
	/* green background for translation profile test */
	.v-textfield-u-green-bg {
		background: $green;
	}
	
	.v-filterselect-u-green-bg {
		.v-filterselect-input {
			background: $green;
		}
	}

	.v-ddwrapper-u-green-bg {
		.v-textfield {
			background: $green;
		}
	}
	
	/* gray background for translation profile test */
	.v-textfield-u-gray-bg {
		background: $gray;
	}
	
	.v-filterselect-u-gray-bg {
		.v-filterselect-input {
			background: $gray;
		}
	}
	
	.v-ddwrapper-u-gray-bg {
		.v-textfield {
			background: $gray;
		}
	}
	
	/* red background for translation profile test */
	.v-textfield-u-red-bg {
		background: $red;
	}
	
	.v-filterselect-u-red-bg {
		.v-filterselect-input {
			background: $red;
		}
	}
	
	.v-ddwrapper-u-red-bg {
		.v-textfield {
			background: $red;
		}
	}
}
