<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="warn">
	<!-- 
		What to log?

		Levels in order of verbosity: FATAL, ERROR, WARN, INFO, DEBUG, TRACE
	-->
	<Loggers>
		<!-- Default log level -->
		<Root level="INFO">
			<!-- Default appender specifies where to log by default (can be changed per logger) -->
			<AppenderRef ref="LOGFILE"/>
		</Root>
	
		<!-- Everything produced by Unity (unless overwritten below) -->
		<!-- <Logger name="unity.server" level="INFO"/> -->

		<!-- Loading of any configuration -->
		<!-- <Logger name="unity.server.config" level="INFO"/> -->

		<!-- Persistence subsystem -->
		<!-- <Logger name="unity.server.db" level="INFO"/> -->

		<!-- Low level persistence -->
		<!-- <Logger name="pl.edu.icm.unity.store" level="INFO"/> -->

		<!-- Web subsystem -->
		<!-- <Logger name="unity.server.web" level="INFO"/> -->

		<!-- SAML related -->
		<!-- <Logger name="unity.server.saml" level="INFO"/> -->

		<!-- OAuth related -->
		<!-- <Logger name="unity.server.oauth" level="INFO"/> -->

		<!-- LDAP related -->
		<!-- <Logger name="unity.server.ldap" level="INFO"/> -->

		<!-- Web Service (SOAP) related -->
		<!-- <Logger name="unity.server.ws" level="INFO"/> -->

		<!-- RESTful endpoints related -->
		<!-- <Logger name="unity.server.rest" level="INFO"/> -->

		<!-- Mapping of remotely obtained data by translation profiles -->
		<!-- <Logger name="unity.server.externaltranslation" level="INFO"/> -->

		<!-- Security related - low level (SAML processing, XML DSig, X.509 PKI)  -->
		<!-- <Logger name="unicore.security" level="INFO"/> -->


		<!-- 
			3rd party subsystems 
		-->

		<Logger name="org.springframework" level="WARN"/>
		
		<Logger name="net.sf.ehcache" level="WARN"/>
		
		<Logger name="org.eclipse.jetty" level="INFO"/>
		
		<Logger name="org.apache" level="INFO"/>
		
		<Logger name="pl.edu.icm" level="INFO"/>
		
		<Logger name="org.quartz" level="WARN"/>
	</Loggers>
	
	
	<!-- Where to log? -->
	<Appenders>
		<Console name="CONSOLE">
			<PatternLayout pattern="%d{ISO8601} [%t] %-5p %c:%equals{%1x}{[]}{} %m%n"/>
		</Console>
		
		<RollingRandomAccessFile name="LOGFILE" 
				fileName="logs/unity-server.log" 
				filePattern="logs/unity-server.log.%d{yyyy-MM-dd}">
				
			<PatternLayout pattern="%d{ISO8601} [%t] %-5p %c:%equals{%1x}{[]}{} %m%n"/>
			
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
			<DefaultRolloverStrategy/>
		</RollingRandomAccessFile>
	</Appenders>
	
</Configuration>