vaadin-form-item {
    --vaadin-form-item-label-width: 15em;
}

vaadin-icon {
    width: var(--lumo-icon-size-s);
    height: var(--lumo-icon-size-s);
}

#badge-warning {
    color: #e67e00;
    background-color: #fff4e0;
}