.u-consent-screen {
    background-color: #F5F5F5;
    border-radius: var(--border-radius);
    width: 30em;
}

.u-consent-screen-checkbox {
    align-self: center;
    margin-right: 8.25em;
}

.u-consent-screen-buttons {
    align-self: center;
    margin-left: 18.9em;
}