/* Colors */
$tooltip-background: #000000;
$tooltip-active-background: #000000;

/**
 * Colors v1
 * Exported as sass from http://paletton.com/#uid=23-0u0k8uuK1KQU4GEHd1q4i7l-
 */
$color-primary-0: #788C9F;	// Main Primary color */
$color-primary-1: #D7DDE3;
$color-primary-2: #A7B4C1;
$color-primary-3: #546E87;
$color-primary-4: #355370;

$font-color: #223843;


/**
 * Bright color scheme
 */
/*
$menuLeft-color: $font-color; 
$menuLeft-bg-color: $color-primary-1;
$menuLeft-bg-right-border: $color-primary-2;

$menuLeft-hoover-color: $menuLeft-color; 
$menuLeft-hoover-bg-color: $color-primary-2;
$menuLeft-active-bg-color: $color-primary-2;

$menuTop-color: $font-color;
$menuTop-hoover-color: $color-primary-3;
$menuTop-bg-color: $menuLeft-bg-color;
$menuTop-bottom-border: $menuLeft-bg-right-border;

$content-bg-color: #ffffff;
$content-color: $font-color;

$button-active-background: $content-background;
*/

/**
 * Darker color scheme
 */
$menuLeft-color: $color-primary-1; 
$menuLeft-bg-color: $color-primary-3;
$menuLeft-bg-right-border: $menuLeft-bg-color;

$menuLeft-hoover-color: $color-primary-1; 
$menuLeft-hoover-bg-color: $color-primary-4;
$menuLeft-active-bg-color: $color-primary-4;

$menuTop-color: $font-color;
$menuTop-hoover-color: $color-primary-3;
$menuTop-bg-color: $color-primary-1;
$menuTop-bottom-border: $menuTop-bg-color;

$content-bg-color: #ffffff;
$content-color: $font-color;

$button-active-background: $content-background;

/**
 * Original color scheme
 */
 /*
$menuLeft-color: #e0e0e2;
$menuLeft-bg-color: #1f7a8c;
$menuLeft-bg-right-border: $menuLeft-bg-color;

$menuLeft-hoover-color: #e0e0e2;
$menuLeft-hoover-bg-color: #223843;
$menuLeft-active-bg-color: $menuLeft-hoover-bg-color;

$menuTop-color: #223843;
$menuTop-hoover-color: #1f7a8c;
$menuTop-bg-color: #eef0f2;
$menuTop-bottom-border: $menuTop-bg-color;

$content-bg-color: #ffffff;
$content-color: #223843;

$button-active-background: $content-background;
*/

$transition-time: 0.3s;

@import "sidebar-utils";

@mixin sidebar {
    .sidebar {
        position: relative;
        z-index: 1;
        
        *:focus {
 		   outline:none;
		}
        
        .headerBar {
        	background-color: $menuTop-bg-color;
        	border-bottom: 1px solid $menuTop-bottom-border;
        	color: $menuTop-color;
        }
        
        .rootContent {
        	background: $content-bg-color;
			color: $content-color;
        
        
            & > .v-expand {
                @include sidebarTransition(padding-left 0.3s ease-in-out);
                padding-left: 250px !important;
                
                .v-slot-leftMenu {
                    @include sidebarTransition(margin-left 0.3s ease-in-out);
                    margin-left: -250px !important;
                    
                    .leftMenu {
                        background: $menuLeft-bg-color;
                        border-right: 1px solid $menuLeft-bg-right-border;
            			color: $menuLeft-color;
                        @include sidebarTransition(width 0.3s ease-in-out);
                        width: 250px !important;
                        
                        & > .v-expand > .v-slot {
                           height: auto !important;
                        }
                        
                        &:not(.minimal) {
                            overflow: auto;
                        }
                        
                        
                  
                        
                        .v-slot-menuLabel > div {
                            width: 100%;
                                                        
                            .v-caption {
                                text-align: center;
                                position: relative;
                                font-size: 20px;
                                padding: 10px;
                                
                                &:after {
                                    @include sidebarPos(absolute, null, null, 0, 0);
                                    //border-bottom: 1px solid;
                                    content: '';
                                    width: 100%;
                                }
                                
                                .v-icon {
                                    margin-right: 5px;
									max-width: 52px;
                                    width: 100%;
                                }
                            }
                            
                            .v-label {
                                display: none;
                            }
                        }
                       
                        .v-slot-menuCombo > div {
                        	  width: 100%;
                              text-align: center;
						}
	
                        .menuButton {
                            @include sidebarTransition(background 0.3s);
                            border-left: 0 solid transparent;
                            background: transparent;
                            overflow: hidden;
                            cursor: pointer;
                            display: block;
                            padding: 8px 0;
                            height: 45px;

                            &.active, &.active:hover {
                        		font-weight: 900;
                    			background-color: $menuLeft-active-bg-color;
                            }

                            &:hover {
                            	background-color: $menuLeft-hoover-bg-color;
                            	color: $menuLeft-hoover-color;
                            	border-top: 1px solid $menuLeft-hoover-color;
                            	border-bottom: 1px solid $menuLeft-hoover-color;
                            }
                        }

                        .menuButton-wrap {
                            @include sidebarTransition(border 0.3s);
                            @include sidebarPos(relative);
                            display: block;
                            z-index: 1000;

                            .v-icon {
                                @include sidebarPos(relative);
                                vertical-align: middle;
                                display: inline-block;
                                text-align: center;
                                margin-left: 10px;
                                width: 25px;
                            }

                            .menuButton-caption {
                                font-size: 17px;
                                vertical-align: middle;
                            }
                        }
                        
                        .subMenu {
                            & > .v-slot {
                                &:first-child .toolTip {
                                    @include sidebarPos(absolute, 0, 5px);
                                    @include sidebarSize(30px, 30px);

                                    .v-icon {
                                        @include sidebarTransition(transform 0.3s ease-in-out);
                                        @include sidebarTransformRotate(0deg);
                                        @include sidebarSize(30px, 30px);
                                        line-height: 27px;
                                        margin: 0;
                                    }
                                }

                                &:last-child > .v-verticallayout {
                                    @include sidebarTransition(max-height 0.5s ease-in-out);
                                    width: calc(100% - 24px) !important;
                                    position: relative;
                                    margin-left: 24px;
                                    overflow: hidden;
                                    display: block;
                                    max-height: 0;
                                }
                            }
                        
                            &.open > .v-slot {
                                &:first-child .toolTip .v-icon {
                                    @include sidebarTransformRotate(-180deg);
                                }

                                &:last-child > .v-verticallayout {
                                    max-height: 1000px !important;
                                    overflow: visible;
                                }
                            }
                        }
                    }
                }
            }
            
            .breadcrumbs {                
                .v-slot {
                    width: auto !important;
                    
                    .menuButton.clickable {
                        cursor: pointer;
                    }
                    
                    .menuLabel {
                        display: none !important;
                    }
                }
            }
           
            .headerBar {

            }
           
            .topRightMenu {
                padding-right: 5px;          
          		.menuButton {
						border: none;
						-webkit-box-shadow: none;
						box-shadow: none;
						background: transparent;
						cursor: pointer;
						text-decoration: underline;
						font-weight: inherit;
						-webkit-transition: color $transition-time;
						-moz-transition: color $transition-time;
						transition: color $transition-time;
						font-size : $v-font-size * 1.8;
						
						&:hover {
							color: $menuTop-hoover-color;
						}
				}
          	}  
               
            .viewHeader {
            }
            
            /* left menu minimal */
            &.minimal {
                overflow: inherit;
                
                & > .v-expand {
                    padding-left: 50px !important;

                    .v-slot-leftMenu {
                        margin-left: -50px !important;

                        .leftMenu {
                            overflow: visible;
                            width: 50px !important;

                            .v-slot-menuLabel > div .v-caption .v-captiontext {
                                display: none;
                            }
                            
                            .toolTip .v-icon {
                            	display: none;
                            }
                            
                            .menuButton {
                                overflow: visible;
                                
                                &:hover .menuButton-caption {
                                    pointer-events: all !important;
                                    opacity: 0.9 !important;
                                    z-index: 10000;
                                    visibility: visible !important;
                                }
                                
                                .menuButton-wrap {
                                    z-index: 100;
                                    
                                    .v-icon {
                                        width: 100%;
                                        margin: 0;
                                    }
                                	
                                    .menuButton-caption {
                                        @include sidebarTransition(opacity $transition-time ease-in-out);
                                        padding: 9px 13px 8px;
                                        top: calc(-50% + 4px);
                                        pointer-events: none;
                                        position: absolute;
                                        white-space: pre;
                                        height: 28px;
                                        opacity: 0;
                                        margin-left: 4px;
                                        background-color: $menuLeft-active-bg-color;
                                        visibility: hidden;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            .v-slot-contentBox {
                overflow-y: auto;
                
                .contentBox {
                    padding: 0 !important;
                    
                    & > .v-margin-top {
                        padding-top: 0 !important;
                    }
                }
            }
        }
        
        .u-left-menu-toggle {
        	bottom: $v-layout-margin-bottom;
        	right: 8px;
        	padding: 0px 8px 0px 8px;
			position: absolute;
			outline: none;
			&:hover, &.active:hover {
            	background-color: $menuLeft-hoover-bg-color;
                color: $menuLeft-hoover-color;
            }
			&:focus::after {
 				outline: none;
 				box-shadow: none;
 				-webkit-box-shadow: none;
			}
		}
    }
}