#unity-navbar {
	height: var(--lumo-size-l);
	width: 100%;
	font-size: var(--lumo-font-size-s);
	font-family: var(--lumo-font-family);
	font-weight: var(--furms-font-weight);
	background: var(--lumo-contrast-5pct);
	padding-right: 1rem;
	padding-left: 1rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.unity-view {
	padding-right: 1rem;
	padding-left: 1rem;
	font-family: var(--lumo-font-family);
	display: flex;
	flex-direction: column;
}

#unity-layout {
	flex-direction: column;
	justify-content: start;
}

#unity-main-container {
    height: 100%;
	overflow: hidden;
	flex: auto;
	align-items: stretch;
	margin: 0;
	padding: 0;
	gap: unset;
}

#unity-left-content-container {
    background-color: #04859d;
	width: 30rem;
	height: 100%;
	overflow: auto;
	margin: 0;
	border-right: 1px solid var(--lumo-contrast-10pct);
}

#unity-right-content-container {
	width: 100%;
	overflow: auto;
	align-items: stretch;
	margin: 0;
	padding: 0;
	gap: unset;
}

#unity-logo-image {
	max-width: 100%;
	max-height: 5rem;
	margin-left: auto;
	margin-right: auto;
}